<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ultras - Clothing Store eCommerce Store HTML Website Template</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="~/Content/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="~/Content/icomoon/icomoon.css">
    <link rel="stylesheet" type="text/css" media="all" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/css/vendor.css">
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
   
    <!-- script
    ================================================== -->
    <script src="~/Content/js/modernizr.js"></script>
</head>
<style>
    nav.secondary-nav.border-bottom {
        background: black;
        color: white;
    }

    #logo11 {
        display: inline-block;
        border: 0;
        width: 55%;
        height: auto;
        vertical-align: middle;
    }
    /* إزالة تصغير الشعار للتأكد من عدم تأثيره على الصور في الهوم */
    #logo {
        display: inline-block;
        border: 0;
        max-width: 100%; /* إعادة الشعار إلى الحجم الأصلي */
        height: auto;
        vertical-align: middle;
    }
    nav.primary-nav.padding-small {
        padding-top: 0% !important;
    }
</style>
<body>
    <header id="header">
        <div id="header-wrap">
            <nav class="secondary-nav border-bottom">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-4 header-contact">
                            <p>
                                Let's talk! <strong>0785447741</strong>
                            </p>
                        </div>
                        <div class="col-md-4 shipping-purchase text-center">
                            <p>Free shipping on a purchase value of $200</p>
                        </div>
                        <div class="col-md-4 col-sm-12 user-items">
                            <ul class="d-flex justify-content-end list-unstyled">
                                <li style="margin-right: 15px;">
                                    @{
                                        // افحص حالة الجلسة
                                        if (Session["IsLogin"] != null && (bool)Session["IsLogin"])
                                        {
                                            // إذا كان المستخدم مسجل دخوله
                                            @Html.ActionLink("Profile", "ProfileUser", "User", null, new { @class = " ", @style = "text-decoration:none; margin-right: 10px;" })
                                            @Html.ActionLink("Logout", "Logout", "User", null, new { @class = "", @style = "text-decoration:none;" })
                                        }
                                        else
                                        {
                                            // إذا كان المستخدم غير مسجل دخوله
                                            @Html.ActionLink("Login", "Login", "User", null, new { @class = "", @style = "text-decoration:none; margin-right: 10px;" })
                                            @Html.ActionLink("SignUp", "Register", "User", null, new { @class = "", @style = "text-decoration:none; margin-right: 10px;" }) }
                                    }
                                </li>
                                <li>
                                    <a href="cart.html">
                                        <img src="~/Content/img/flag1-removebg-preview (1).png" alt="Jordan Flag" style="width: 28px; height: 26px;" />
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </nav>
            <nav class="primary-nav padding-small">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-2 col-md-2">
                            <div class="main-logo">

                                <a href="@Url.Action("Index", "Home")">
                                    <img src="~/Content/img/images.png" alt="logo" id="logo11" />
                                </a>
                            </div>

                        </div>
                        <div class="col-lg-10 col-md-10">
                            <div class="navbar">
                                <div id="main-nav" class="stellarnav d-flex justify-content-end right">
                                    <ul class="menu-list">
                                        <li class="menu-item has-sub">
                                            @Html.ActionLink("Home", "Index", "Home", null, new { @class = "item-anchor d-flex align-item-center" })


                                        </li>
                                        <li>@Html.ActionLink("About", "About", "Home", null, new { @class = "item-anchor" })</li>
                                        @*<li class="menu-item has-sub">
                                                @Html.ActionLink("Shop", "Shop", "Products", new { @class = "item-anchor d-flex align-item-center" })
                                                <ul class="submenu">
                                                    <li>@Html.ActionLink("Shop", "Shop", "Products", new { @class = "item-anchor" })</li>
                                                    <li>@Html.ActionLink("Shop slider", "ShopSlider", "Products", new { @class = "item-anchor" }) <span class="text-primary"> (PRO)</span></li>
                                                    <li>@Html.ActionLink("Shop grid", "ShopGrid", "Products", new { @class = "item-anchor" }) <span class="text-primary"> (PRO)</span></li>
                                                    <li>@Html.ActionLink("Shop list", "ShopList", "Products", new { @class = "item-anchor" }) <span class="text-primary"> (PRO)</span></li>
                                                    <li>@Html.ActionLink("Single product", "SingleProduct", "Products", new { @class = "item-anchor" }) <span class="text-primary"> (PRO)</span></li>
                                                    <li>@Html.ActionLink("Cart", "Cart", "Products", new { @class = "item-anchor" }) <span class="text-primary"> (PRO)</span></li>
                                                    <li>@Html.ActionLink("Wishlist", "Wishlist", "Products", new { @class = "item-anchor" }) <span class="text-primary"> (PRO)</span></li>
                                                    <li>@Html.ActionLink("Checkout", "Checkout", "Products", new { @class = "item-anchor" }) <span class="text-primary"> (PRO)</span></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item has-sub">
                                                @Html.ActionLink("Pages", "#", null, new { @class = "item-anchor d-flex align-item-center" })
                                                <ul class="submenu">
                                                    <li>@Html.ActionLink("Coming soon", "ComingSoon", "Home", new { @class = "item-anchor" }) <span class="text-primary"> (PRO)</span></li>
                                                    <li>@Html.ActionLink("Login", "Login", "Account", new { @class = "item-anchor" }) <span class="text-primary"> (PRO)</span></li>
                                                    <li>@Html.ActionLink("FAQs", "Faqs", "Home", new { @class = "item-anchor" }) <span class="text-primary"> (PRO)</span></li>
                                                    <li>@Html.ActionLink("Styles", "Styles", "Home", new { @class = "item-anchor active" })</li>
                                                    <li>@Html.ActionLink("Thankyou", "ThankYou", "Home", new { @class = "item-anchor" })</li>
                                                    <li>@Html.ActionLink("Error page", "Error", "Home", new { @class = "item-anchor" }) <span class="text-primary"> (PRO)</span></li>
                                                </ul>
                                            </li>
                                            <li class="menu-item has-sub">
                                                @Html.ActionLink("Blog", "Blog", "Blog", new { @class = "item-anchor d-flex align-item-center" })
                                                <ul class="submenu">
                                                    <li>@Html.ActionLink("Blog", "Blog", "Blog", new { @class = "item-anchor" })</li>
                                                    <li>@Html.ActionLink("Blog with sidebar", "BlogSidebar", "Blog", new { @class = "item-anchor" }) <span class="text-primary"> (PRO)</span></li>
                                                    <li>@Html.ActionLink("Blog masonry", "BlogMasonry", "Blog", new { @class = "item-anchor" }) <span class="text-primary"> (PRO)</span></li>
                                                    <li>@Html.ActionLink("Single post", "SinglePost", "Blog", new { @class = "item-anchor" })</li>
                                                </ul>
                                            </li>*@
                                        <li>@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "item-anchor" })</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer style=" text-align: center;">
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
    <script src="~/Content/js/jquery-1.11.0.min.js"></script>
    <script src="~/Content/js/plugins.js"></script>
    <script src="~/Content/js/script.js"></script>
  


</body>
</html>
