@model List<MiniProject.Models.Product>

@{
   
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}



<section style="background-color: #f8f9fa;">
    <div class="container py-5">
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card h-100 shadow-sm">
                        <img src="@product.Image_Url" class="card-img-top" alt="@product.Name" style="object-fit: cover; height: 250px;" />
                        <div class="card-body">
                            <h5 class="mb-0">@product.Name</h5>
                            <p class="text-muted">Price: $@product.Price</p>
                            <div class="d-flex justify-content-between">
                                <a href="@Url.Action("DisplayProductsDetails", "Products", new { id = product.ID })" class="btn btn-primary mt-3">More Details</a>
                                <a href="@Url.Action("DisplayProduct", "Products", new { id = product.ID })" class="btn btn-secondary mt-3">Buy Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

<style>
    .col-md-6.col-lg-4.mb-4 {
        width: 22.8%;
    }

    /* لضبط النص والاتجاه إلى اليمين */
    .text-right {
        text-align: right;
    }

    /* لضبط خط العناوين */
    h5, .h5 {
        font-size: 1.1rem !important;
    }
</style>
