@model IEnumerable<MiniProject.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
الاسم
        </th>
        <th>
            السعر
        </th>
        <th>
         وصف المنتج
        </th>
        <th>
   صورة المنتج
        </th>
        <th>
            عدد المتوفر
        </th>
        <th>
          اسم القسم
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image_Url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity_In_Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

<style>

    .table td {
        max-width: 200px; /* حدد حجم العمود */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>